*{
    box-sizing: border-box;
    font-family: Comfortaa;
}

/* Main Body Style */

body {
    height: 100vh;
    background-color: rgba(205, 205, 235, 0.925);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Wrapper */

.wrapper {
    width: 550px;
    height: auto;
    padding: 15px;
    background-color: white;
    border-radius: 7px;
}

/* Email Message Header */
.email-msg-header{
    text-align: center;
}

.wrapper div{
    font-size: 35px;
    color: grey;
    text-align: center;
}


/* Welcome Text */
.welcome-text {
    text-align: center;
}

/* Verify Account Button */
.verify-account-btn {
    padding: 15px;
    background-color: rgb(99, 99, 240);
    text-decoration: none;
    color: white;
    border-radius: 5px;
}


/* Copy Right Wrapper */
.copy-right{
    padding: 15px;
    color: grey;
    font-size: 14px;
    margin: 20px 4px;
    display: flex;
    align-items: center;
    justify-content: center;

}




