*{
    box-sizing: border-box;
    font-family: Comfortaa;
}

/*Main Body Styling*/

body{
    background-color: rgb(217, 217, 218);
}

/* Main page header */
.main-page-header {
    padding: 10px 0px;
}

/* Company Name */

.main-page-header .company-name {
    font-weight: 600;
    color: white;
}

/* Navigation */
.navigation {
    margin-left: 20px;
}

.navigation li{
    display: inline-block;
    list-style-type: none;
    margin: 0px 15px;
}

.navigation li a{
    color: white;
    text-decoration: none;
}

/* Display Name */
.display-name{
    font-weight: 600;
}

/* Transact button */
#transact-btn {
    background-color: #ff8114;
    border: 1px solid brown;

}

/* Add account button */
#add-account-btn{
    background-color: #ff4e00;
    border: 1px solid black;
    color: white;
}


/* Off Canvas background */
.offcanvas {
    background-image: url("../images/offcanvas.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.transact-btn{
    background-color: #ff4e00;
    border: 1px solid black;
    color: white;
}

/* Card Payment Card */

.payment-card{
    display: none;
}

/* Card Transfer Card */

.transfer-card {
    display: none;
}

/* Card Deposit Card */

.deposit-card {
    display: none;
}

/* Card withdraw Card */

.withdraw-card {
    display: none;
}